test-data/
test-results/
*#*
*~
STITCH/src/htslib*
samtools
bgzip
bcftools
*.o
*.so
.Rhistory
.DS_Store
dependencies
benchmark-results
future
scratch
testing
TODO
debug
bams
RData
input
gen.txt
pos.txt
bamlist.txt
STITCH_example_2016_05_10.tgz
Rplots.pdf
*.tar.gz
*.swp
STITCH.Rcheck/
*.tmp
